.*                  export-ignore
*.config.*          export-ignore
package*            export-ignore
php*.*              export-ignore
playwright.*        export-ignore
composer.lock       export-ignore
bin/                export-ignore
assets/             export-ignore
tests/              export-ignore
node_modules/       export-ignore