includes:
    - phpstan-baseline.neon

parameters:
  level: max
  paths:
    - millicache.php
    - advanced-cache.php
    - admin/
    - includes/
  scanFiles:
    - vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
  fileExtensions:
    - php