parameters:
  level: max
  paths:
    - millicache.php
    - advanced-cache.php
    - assets/
    - src/
  excludePaths:
    - src/Deps/
  scanFiles:
    - stubs/ActionBuilder.php
    - stubs/ConditionBuilder.php
    - vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
  fileExtensions:
    - php