#wp-admin-bar-millicache {
	display: list-item !important;

	button.ab-item {
		cursor: pointer;
		background: none;
		border: none;
		text-align: left;
		display: block;
		height: 32px;
		padding: 0 8px 0 7px;
		font: inherit;
		color: inherit;
	}

	.ab-sub-wrapper {

		li {

			&:hover {

				>button.ab-item {
					color: #72aee6;
				}
			}
		}

		// stylelint-disable-next-line no-descending-specificity
		button.ab-item {
			padding: 0 10px;
		}
	}

	.ab-icon {
		margin: 0 !important;

		&::before {
			content: "\f17d";
			top: 2px;
			margin: 0;
		}
	}

	.ab-label {
		margin: 0 5px;

		&.is-success {
			color: #4ab866;
		}

		&.is-error {
			color: #f86368;
		}
	}

	// stylelint-disable-next-line no-descending-specificity
	button.ab-item.is-confirming {
		color: #f86368;
	}

	.millicache-cache-size {
		line-height: inherit;

		&.is-refreshing {
			animation: millicache-pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
		}
	}

	&:hover {

		.ab-icon {

			&::before {
				content: "\f17c";
			}
		}
	}

	&.flushing {

		// stylelint-disable-next-line no-descending-specificity
		button.ab-item {
			cursor: wait;
		}

		.ab-icon {

			&::before {
				content: "\f17c";
				animation: millicache-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
			}
		}
	}
}

@media screen and (max-width: 782px) {

	#wp-admin-bar-millicache button.ab-item {
		height: 46px;
		line-height: 3.28571428;
	}
}

.commands-command-menu.millicache-palette {
	max-width: 640px;
}

.millicache-snackbar-region {
	position: fixed;
	z-index: 100010;
	bottom: 24px;
	left: 184px;
	right: 24px;
	pointer-events: none;

	.components-snackbar-list {
		position: static;
	}
}

body.folded .millicache-snackbar-region {
	left: 60px;
}

@media (max-width: 960px) {

	body.auto-fold .millicache-snackbar-region {
		left: 60px;
	}
}

@media (max-width: 782px) {

	.millicache-snackbar-region {
		left: 24px;
	}
}

@keyframes "millicache-pulse" {

	0%,
	100% {
		opacity: 1;
	}

	50% {
		opacity: 0.5;
	}
}

