name: GitHub Release

on:
  push:
    tags:
      - "v*"

jobs:
  call-workflow-e2e-test:
    name: Run Playwright e2e-Tests
    uses: ./.github/workflows/playwright.yml

  release:
    name: Release new tagged version
    needs: call-workflow-e2e-test
    runs-on: ubuntu-latest
    steps:
      # Checkout the repository
      - uses: actions/checkout@v4

      # Get Composer directory path
      - name: Get Composer directory path
        id: composer-cache
        run: |
          echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      # Cache Composer dependencies
      - name: Cache Composer dependencies
        if: runner.os == 'Linux'
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}-${{ hashFiles('composer.json') }}
          restore-keys: |
            ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
            ${{ runner.os }}-composer-

      - name: Check Composer lock file is up to date
        run: composer validate --no-check-all

      - name: Install Composer dependencies
        run: composer install --no-dev --no-interaction --no-progress  --prefer-dist --optimize-autoloader

      - name: Build Release Zip
        uses: thedoctor0/zip-release@master
        with:
          path: '.'
          filename: 'millicache.zip'
          exclusions: '*.git* .* composer.* package* php*.* playwright.* yarn.* mozart.* /tests/* /vendor/*'

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          body: Bump to ${{ github.ref }}
          draft: false
          prerelease: true

      - name: Upload Release Asset
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./millicache.zip
          asset_name: millicache.zip
          asset_content_type: application/zip